.corpo{
    left:50%;
    top:50%;
    width:50%;
    margin-left:25%;
    margin-top: 5%;
    text-align: center;
}

.area-botoes{
    padding-top: 20px;
}

#add-tarefa{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todoItem{
    background-color: #C6C6C6;
    margin-bottom:5px;
    padding:10px;
}

.link{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#FF0000;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#FFFFFF;
}

.todoDescription{
    font-size:15px;
    font-weight:bold;
    text-align: center;
    color: #000000;
}

.titulo{
    font-size:20px;
    font-weight: bold;
    text-align:center;
    color: #000000;
}

.titulos-area{
    padding-bottom: 20px;
    padding-top:20px;
}

.titulo-grande{
  font-size: 25px;
  font-weight: bold;
  color:#000000;
  text-align:center;
  padding-bottom:20px
}
